body {
   	background-color: #22243A;
    	padding: 0;
    	margin: 0;
   	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	color: #FFF;
}

p {
	text-align: center;
	color: #FFF;
}

img {
	width: 12%;
	height: auto;
	
}

ul {
	display: flex;
	justify-content: center;
	padding: 20px;	
}

li {
	padding: 20px;
	margin: 30px;
	color: #FFF;
	list-style-type: none;
	font-size: 20px;
}

div {	
	color: #FFF;
	--display: flex;
	justify-content: center;
	padding: 20px;	
}

label {
	color: #FFF;
	display: flex;
	justify-content: center;
}

div2 {	
	color: #FFF;
	display: flex;
	justify-content: center;
	padding: 20px;
}

button {
	display: flex;	
	justify-content: center;
	margin: 0 auto;
	margin-top: 10px;
}


input {	
	display: flex;		
	justify-content: center;
	margin: 0 auto;
}

label {
	color: #FFF;
}

a {
   	text-decoration: none;
   	color: #fff;
}

li:hover {
    	color: #000;
    	cursor: pointer;
    	color: #F2B761;
}

